header {
    background-color: red;
}

nav {
    background-color: blue;
}

ul {
    background-color: green;
}

li {
    background-color: hotpink;
}
.top-index{
    background-color: black;
    
}
.currencies{
    background-color: wheat;
}
.stock-search{
    background-color: aquamarine;
}
footer{
    background-color: black;
}
body{
    background-color: tomato;
}
input {
    margin: auto;
}

    @media  screen and  (max-width: 748px) {
        .iframe{
            margin: auto;
        }
        
    }